.image {
  background-image: url('template/header-bg.jpg');
  height: 87vh; /* Adjusted the height to 80vh */
  width: 100%;
  position: relative; /* Added this to position the ::before pseudo-element correctly */
}

.image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute; /* Added this to position the overlay */
  top: 0;
  left: 0;
  z-index: 0;

}
.image > * {
  z-index: 10;
  position: relative;
  color: white;
}

/* now for the 2nd image to make it dark color */

.form-image {
  background-image: url('template/form-bg.jpg');
  position: relative;
}

.form-image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute; /* Added this to position the overlay */
  top: 0;
  left: 0;
  z-index: 0;


}
.form-image > * {
  z-index: 10;
  position: relative;
  color: white;

}



.image-1 {
    background-image: url('template/header-bg.jpg');
    position: relative;
    
}
.image-1::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute; /* Added this to position the overlay */
  top: 0;
  left: 0;
  z-index: 0;


}
.image-1 > * {
  z-index: 10;
  position: relative;
  color: white;

}





/* .img {
    background-image: url(../.../template/header-bg.jpg); 

} */



/* .overlay-bg {
    background-color: rgba(0, 0, 0, 0.1); /*




*/


/* Hexagon styling */
.hexagon {
    width: 100%;
    padding-bottom: 115.47%; /* Controls the height of the hexagon */
    background-color: transparent;
    position: relative;
    margin: 0 auto;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon:before {
    top: 0;
    border-bottom: 29px solid transparent;
    border-top: 29px solid #ddd; /* Gray border color */
  }
  
  .hexagon:after {
    bottom: 0;
    border-top: 29px solid transparent;
    border-bottom: 29px solid #ddd; /* Gray border color */
  }
  


  /* workinfg on last image */
